contrat_base/monophasé/flow2_part1.json
[
   {
      "id":"2fa3cc8c.26e4e4",
      "type":"group",
      "z":"659b0a60.7f2d34",
      "name":"calcul pinst",
      "style":{
         "label":true
      },
      "nodes":[
         "e602836a.88009",
         "968ffcbe.c71f6",
         "99fc43d3.480c8",
         "c19adf9e.1133f",
         "83f99bb7.ba5e58",
         "5a33d431.472e3c",
         "d896de02.e164",
         "240f494e.2ff4e6",
         "18af7dc9.547a02",
         "858be772.d20f58",
         "7942b3c9.538ccc",
         "9beee6ce.b3a928",
         "9fd0cefb.5a044",
         "26141645.2e647a"
      ],
      "x":54,
      "y":99,
      "w":1312,
      "h":262
   },
   {
      "id":"e602836a.88009",
      "type":"influxdb in",
      "z":"659b0a60.7f2d34",
      "g":"2fa3cc8c.26e4e4",
      "influxdb":"506ad1a9.81606",
      "name":"2min ago index",
      "query":"SELECT distinct(\"value\") FROM \"Wh\" WHERE (\"entity\" = 'teleinfo') AND time >= now() - 120s GROUP BY time(1s) fill(null)",
      "rawOutput":false,
      "precision":"",
      "retentionPolicy":"",
      "x":340,
      "y":180,
      "wires":[
         [
            "99fc43d3.480c8",
            "9beee6ce.b3a928"
         ]
      ]
   },
   {
      "id":"968ffcbe.c71f6",
      "type":"influxdb in",
      "z":"659b0a60.7f2d34",
      "g":"2fa3cc8c.26e4e4",
      "influxdb":"506ad1a9.81606",
      "name":"last index",
      "query":"SELECT distinct(\"value\") FROM \"Wh\" WHERE (\"entity\" = 'teleinfo') AND time >= now() - 1m GROUP BY time(1s) fill(null) ORDER BY time DESC",
      "rawOutput":false,
      "precision":"",
      "retentionPolicy":"",
      "x":320,
      "y":280,
      "wires":[
         [
            "d896de02.e164",
            "9fd0cefb.5a044"
         ]
      ]
   },
   {
      "id":"99fc43d3.480c8",
      "type":"function",
      "z":"659b0a60.7f2d34",
      "g":"2fa3cc8c.26e4e4",
      "name":"",
      "func":"msg2 = {};\nmsg2.payload = {};\ntopic = 'old';\nmsg2.payload.old_state = parseFloat(msg.payload[0].distinct);\nmsg2.payload.old_date = new Date(msg.payload[0].time);\nmsg2.topic = topic;\nreturn msg2;",
      "outputs":1,
      "noerr":0,
      "x":510,
      "y":180,
      "wires":[
         [
            "c19adf9e.1133f",
            "18af7dc9.547a02"
         ]
      ]
   },
   {
      "id":"c19adf9e.1133f",
      "type":"join",
      "z":"659b0a60.7f2d34",
      "g":"2fa3cc8c.26e4e4",
      "name":"",
      "mode":"custom",
      "build":"object",
      "property":"payload",
      "propertyType":"msg",
      "key":"topic",
      "joiner":"\\n",
      "joinerType":"str",
      "accumulate":false,
      "timeout":"",
      "count":"2",
      "reduceRight":false,
      "reduceExp":"",
      "reduceInit":"",
      "reduceInitType":"",
      "reduceFixup":"",
      "x":650,
      "y":220,
      "wires":[
         [
            "83f99bb7.ba5e58"
         ]
      ]
   },
   {
      "id":"83f99bb7.ba5e58",
      "type":"function",
      "z":"659b0a60.7f2d34",
      "g":"2fa3cc8c.26e4e4",
      "name":"",
      "func":"old = msg.payload.old.old_state;\ncurrent = msg.payload.new.new_state;\ndiff_index = current - old;\ndiff_seconds = (msg.payload.new.new_date - msg.payload.old.old_date) / 1000;\nif (diff_seconds == 0) {\n    conso = 0;\n} else {\n    coeff = diff_seconds / 3600\n    conso = diff_index / coeff\n    conso = Math.round(conso*100)/100\n}\nmsg2 = {};\nmsg2.payload = {};\nmsg2.payload.conso = conso;\nmsg2.payload.diff_sec = diff_seconds;\nmsg2.payload.old_time = msg.payload.old.old_date;\nmsg2.payload.new_time = msg.payload.new.new_date;\nreturn msg2;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":790,
      "y":220,
      "wires":[
         [
            "240f494e.2ff4e6"
         ]
      ]
   },
   {
      "id":"5a33d431.472e3c",
      "type":"inject",
      "z":"659b0a60.7f2d34",
      "g":"2fa3cc8c.26e4e4",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"90",
      "crontab":"",
      "once":true,
      "onceDelay":"30",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":170,
      "y":240,
      "wires":[
         [
            "e602836a.88009",
            "968ffcbe.c71f6"
         ]
      ]
   },
   {
      "id":"d896de02.e164",
      "type":"function",
      "z":"659b0a60.7f2d34",
      "g":"2fa3cc8c.26e4e4",
      "name":"",
      "func":"msg3 = {};\nmsg3.payload = {};\ntopic = 'new';\nmsg3.payload.new_state = parseFloat(msg.payload[0].distinct);\nmsg3.payload.new_date = new Date(msg.payload[0].time);\nmsg3.topic = topic;\nreturn msg3;",
      "outputs":1,
      "noerr":0,
      "x":510,
      "y":280,
      "wires":[
         [
            "c19adf9e.1133f",
            "858be772.d20f58"
         ]
      ]
   },
   {
      "id":"240f494e.2ff4e6",
      "type":"function",
      "z":"659b0a60.7f2d34",
      "g":"2fa3cc8c.26e4e4",
      "name":"transforme en nombre + format pour influx",
      "func":"var conso = parseFloat(msg.payload.conso);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_teleinfo\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":1020,
      "y":220,
      "wires":[
         [
            "7942b3c9.538ccc",
            "26141645.2e647a"
         ]
      ]
   },
   {
      "id":"18af7dc9.547a02",
      "type":"debug",
      "z":"659b0a60.7f2d34",
      "g":"2fa3cc8c.26e4e4",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":650,
      "y":180,
      "wires":[
         
      ]
   },
   {
      "id":"858be772.d20f58",
      "type":"debug",
      "z":"659b0a60.7f2d34",
      "g":"2fa3cc8c.26e4e4",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":650,
      "y":260,
      "wires":[
         
      ]
   },
   {
      "id":"7942b3c9.538ccc",
      "type":"debug",
      "z":"659b0a60.7f2d34",
      "g":"2fa3cc8c.26e4e4",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":1270,
      "y":180,
      "wires":[
         
      ]
   },
   {
      "id":"9beee6ce.b3a928",
      "type":"debug",
      "z":"659b0a60.7f2d34",
      "g":"2fa3cc8c.26e4e4",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":510,
      "y":140,
      "wires":[
         
      ]
   },
   {
      "id":"9fd0cefb.5a044",
      "type":"debug",
      "z":"659b0a60.7f2d34",
      "g":"2fa3cc8c.26e4e4",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":510,
      "y":320,
      "wires":[
         
      ]
   },
   {
      "id":"26141645.2e647a",
      "type":"influxdb out",
      "z":"659b0a60.7f2d34",
      "g":"2fa3cc8c.26e4e4",
      "influxdb":"506ad1a9.81606",
      "name":"Conso W",
      "measurement":"W",
      "precision":"",
      "retentionPolicy":"",
      "x":1280,
      "y":220,
      "wires":[
         
      ]
   },
   {
      "id":"506ad1a9.81606",
      "type":"influxdb",
      "hostname":"192.168.1.10",
      "port":"8086",
      "protocol":"http",
      "database":"edf",
      "name":"EDF",
      "usetls":false,
      "tls":"",
      "influxdbVersion":"1.x"
   }
]
