contrat_base/monophasé/flow2_part4.json
[
   {
      "id":"264f0a43.d94c56",
      "type":"group",
      "z":"659b0a60.7f2d34",
      "name":"Compte le nombre d'indexes passé depuis le début de chaque période (toutes les minutes)",
      "style":{
         "label":true
      },
      "nodes":[
         "54b6ac23.354954",
         "dfe4855a.5a5018",
         "49919f86.3e552",
         "e396f6eb.e3b738",
         "76e663ba.4bd96c",
         "d7509684.694248",
         "f59955e.cf077a8",
         "43e0d338.8f98fc",
         "97ba7fb6.6e84a",
         "fc32c850.d3eae8",
         "f7de4d38.b5bff",
         "e94200b.e2ad3",
         "6bb89f26.7964c",
         "3d2e58b0.c87bc8",
         "5f878812.c341f8",
         "ddfd997e.caf398"
      ],
      "x":34,
      "y":639,
      "w":1392,
      "h":242
   },
   {
      "id":"54b6ac23.354954",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"264f0a43.d94c56",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_wh_end_day",
            "pt":"flow",
            "to":"index_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":420,
      "y":720,
      "wires":[
         [
            "76e663ba.4bd96c"
         ]
      ]
   },
   {
      "id":"dfe4855a.5a5018",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"264f0a43.d94c56",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_wh_end_month",
            "pt":"flow",
            "to":"index_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":430,
      "y":760,
      "wires":[
         [
            "f59955e.cf077a8"
         ]
      ]
   },
   {
      "id":"49919f86.3e552",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"264f0a43.d94c56",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_wh_end_year",
            "pt":"flow",
            "to":"index_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":420,
      "y":800,
      "wires":[
         [
            "97ba7fb6.6e84a"
         ]
      ]
   },
   {
      "id":"e396f6eb.e3b738",
      "type":"calculator",
      "z":"659b0a60.7f2d34",
      "g":"264f0a43.d94c56",
      "name":"",
      "inputMsgField":"payload",
      "outputMsgField":"payload",
      "operation":"sub",
      "constant":"",
      "x":780,
      "y":720,
      "wires":[
         [
            "e94200b.e2ad3"
         ]
      ]
   },
   {
      "id":"76e663ba.4bd96c",
      "type":"function",
      "z":"659b0a60.7f2d34",
      "g":"264f0a43.d94c56",
      "name":"",
      "func":"var start_day = flow.get(\"index_wh_start_day\");\nvar end_day = flow.get(\"index_wh_end_day\");\nmsg.payload = [end_day,start_day];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":630,
      "y":720,
      "wires":[
         [
            "e396f6eb.e3b738"
         ]
      ]
   },
   {
      "id":"d7509684.694248",
      "type":"calculator",
      "z":"659b0a60.7f2d34",
      "g":"264f0a43.d94c56",
      "name":"",
      "inputMsgField":"payload",
      "outputMsgField":"payload",
      "operation":"sub",
      "constant":"",
      "x":780,
      "y":760,
      "wires":[
         [
            "3d2e58b0.c87bc8"
         ]
      ]
   },
   {
      "id":"f59955e.cf077a8",
      "type":"function",
      "z":"659b0a60.7f2d34",
      "g":"264f0a43.d94c56",
      "name":"",
      "func":"var start_month = flow.get(\"index_wh_start_month\");\nvar end_month = flow.get(\"index_wh_end_month\");\nmsg.payload = [end_month,start_month];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":630,
      "y":760,
      "wires":[
         [
            "d7509684.694248"
         ]
      ]
   },
   {
      "id":"43e0d338.8f98fc",
      "type":"calculator",
      "z":"659b0a60.7f2d34",
      "g":"264f0a43.d94c56",
      "name":"",
      "inputMsgField":"payload",
      "outputMsgField":"payload",
      "operation":"sub",
      "constant":"",
      "x":780,
      "y":800,
      "wires":[
         [
            "ddfd997e.caf398"
         ]
      ]
   },
   {
      "id":"97ba7fb6.6e84a",
      "type":"function",
      "z":"659b0a60.7f2d34",
      "g":"264f0a43.d94c56",
      "name":"",
      "func":"var start_year = flow.get(\"index_wh_start_year\");\nvar end_year = flow.get(\"index_wh_end_year\");\nmsg.payload = [end_year,start_year];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":630,
      "y":800,
      "wires":[
         [
            "43e0d338.8f98fc"
         ]
      ]
   },
   {
      "id":"fc32c850.d3eae8",
      "type":"inject",
      "z":"659b0a60.7f2d34",
      "g":"264f0a43.d94c56",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"60",
      "crontab":"",
      "once":true,
      "onceDelay":"10",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":150,
      "y":760,
      "wires":[
         [
            "54b6ac23.354954",
            "dfe4855a.5a5018",
            "49919f86.3e552"
         ]
      ]
   },
   {
      "id":"f7de4d38.b5bff",
      "type":"influxdb out",
      "z":"659b0a60.7f2d34",
      "g":"264f0a43.d94c56",
      "influxdb":"506ad1a9.81606",
      "name":"Conso Wh day",
      "measurement":"Wh",
      "precision":"",
      "retentionPolicy":"",
      "x":1300,
      "y":680,
      "wires":[
         
      ]
   },
   {
      "id":"e94200b.e2ad3",
      "type":"function",
      "z":"659b0a60.7f2d34",
      "g":"264f0a43.d94c56",
      "name":"transforme en nombre + format pour influx",
      "func":"var conso = parseFloat(msg.payload);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_day\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":1020,
      "y":680,
      "wires":[
         [
            "f7de4d38.b5bff"
         ]
      ]
   },
   {
      "id":"6bb89f26.7964c",
      "type":"influxdb out",
      "z":"659b0a60.7f2d34",
      "g":"264f0a43.d94c56",
      "influxdb":"506ad1a9.81606",
      "name":"Conso Wh month",
      "measurement":"Wh",
      "precision":"",
      "retentionPolicy":"",
      "x":1310,
      "y":760,
      "wires":[
         
      ]
   },
   {
      "id":"3d2e58b0.c87bc8",
      "type":"function",
      "z":"659b0a60.7f2d34",
      "g":"264f0a43.d94c56",
      "name":"transforme en nombre + format pour influx",
      "func":"var conso = parseFloat(msg.payload);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_month\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":1020,
      "y":760,
      "wires":[
         [
            "6bb89f26.7964c"
         ]
      ]
   },
   {
      "id":"5f878812.c341f8",
      "type":"influxdb out",
      "z":"659b0a60.7f2d34",
      "g":"264f0a43.d94c56",
      "influxdb":"506ad1a9.81606",
      "name":"Conso Wh year",
      "measurement":"Wh",
      "precision":"",
      "retentionPolicy":"",
      "x":1300,
      "y":840,
      "wires":[
         
      ]
   },
   {
      "id":"ddfd997e.caf398",
      "type":"function",
      "z":"659b0a60.7f2d34",
      "g":"264f0a43.d94c56",
      "name":"transforme en nombre + format pour influx",
      "func":"var conso = parseFloat(msg.payload);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_year\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":1020,
      "y":840,
      "wires":[
         [
            "5f878812.c341f8"
         ]
      ]
   },
   {
      "id":"506ad1a9.81606",
      "type":"influxdb",
      "hostname":"192.168.1.10",
      "port":"8086",
      "protocol":"http",
      "database":"edf",
      "name":"EDF",
      "usetls":false,
      "tls":"",
      "influxdbVersion":"1.x"
   }
]
