contrat_base/monophasé/flow2_part3.json
[
   {
      "id":"36da5bc.fd26ba4",
      "type":"group",
      "z":"659b0a60.7f2d34",
      "name":"Set l'index de chaque période à l'index courant au début de période",
      "style":{
         "label":true
      },
      "nodes":[
         "34fa1673.303d4a",
         "ca2e400.26cdbc",
         "a93c58fb.5cdb58",
         "6a466edd.0b0f6",
         "a1779070.3fed9",
         "bd03fa4e.060ae8"
      ],
      "x":34,
      "y":439,
      "w":812,
      "h":182
   },
   {
      "id":"34fa1673.303d4a",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"36da5bc.fd26ba4",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_wh_start_day",
            "pt":"flow",
            "to":"index_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":680,
      "y":500,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"ca2e400.26cdbc",
      "type":"cronplus",
      "z":"659b0a60.7f2d34",
      "g":"36da5bc.fd26ba4",
      "name":"start periods",
      "outputField":"payload",
      "timeZone":"",
      "persistDynamic":false,
      "commandResponseMsgOutput":"output2",
      "outputs":2,
      "options":[
         {
            "name":"day",
            "topic":"day",
            "payloadType":"default",
            "payload":"",
            "expressionType":"cron",
            "expression":"0 0 0 * * ? *",
            "location":"",
            "offset":"0",
            "solarType":"all",
            "solarEvents":"sunrise,sunset"
         },
         {
            "name":"month",
            "topic":"month",
            "payloadType":"default",
            "payload":"",
            "expressionType":"cron",
            "expression":"0 0 0 1 * ? *",
            "location":"",
            "offset":"0",
            "solarType":"all",
            "solarEvents":"sunrise,sunset"
         },
         {
            "name":"year",
            "topic":"year",
            "payloadType":"default",
            "payload":"",
            "expressionType":"cron",
            "expression":"0 0 0 1 1 ? *",
            "location":"",
            "offset":"0",
            "solarType":"all",
            "solarEvents":"sunrise,sunset"
         }
      ],
      "x":150,
      "y":540,
      "wires":[
         [
            "a1779070.3fed9"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"a93c58fb.5cdb58",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"36da5bc.fd26ba4",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_wh_start_month",
            "pt":"flow",
            "to":"index_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":690,
      "y":540,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"6a466edd.0b0f6",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"36da5bc.fd26ba4",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_wh_start_year",
            "pt":"flow",
            "to":"index_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":680,
      "y":580,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"a1779070.3fed9",
      "type":"switch",
      "z":"659b0a60.7f2d34",
      "g":"36da5bc.fd26ba4",
      "name":"period select",
      "property":"topic",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"day",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"month",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"year",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":3,
      "x":390,
      "y":540,
      "wires":[
         [
            "34fa1673.303d4a"
         ],
         [
            "a93c58fb.5cdb58"
         ],
         [
            "6a466edd.0b0f6"
         ]
      ]
   },
   {
      "id":"bd03fa4e.060ae8",
      "type":"inject",
      "z":"659b0a60.7f2d34",
      "g":"36da5bc.fd26ba4",
      "name":"Manual init >> DO NOT PRESS UNTIL REALLY NEEDED >>",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":300,
      "y":480,
      "wires":[
         [
            "34fa1673.303d4a",
            "a93c58fb.5cdb58",
            "6a466edd.0b0f6"
         ]
      ]
   }
]
