contrat_hp_hc/monophasé/flow2_part2.json
[
   {
      "id":"1bc806df.ad0a89",
      "type":"group",
      "z":"659b0a60.7f2d34",
      "name":"Reçoit index HP et stocke dans flow.index_hp_wh",
      "style":{
         "label":true
      },
      "nodes":[
         "b8294171.34804",
         "5d61dffd.a4313",
         "787d853a.f2547c"
      ],
      "x":414,
      "y":359,
      "w":352,
      "h":122
   },
   {
      "id":"b8294171.34804",
      "type":"link in",
      "z":"659b0a60.7f2d34",
      "g":"1bc806df.ad0a89",
      "name":"hp in",
      "links":[
         "8bcfc64b.7427a8"
      ],
      "x":455,
      "y":440,
      "wires":[
         [
            "5d61dffd.a4313",
            "787d853a.f2547c"
         ]
      ]
   },
   {
      "id":"5d61dffd.a4313",
      "type":"debug",
      "z":"659b0a60.7f2d34",
      "g":"1bc806df.ad0a89",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":590,
      "y":400,
      "wires":[
         
      ]
   },
   {
      "id":"787d853a.f2547c",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"1bc806df.ad0a89",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_hp_wh",
            "pt":"flow",
            "to":"payload",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":640,
      "y":440,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"27652c41.90dc54",
      "type":"group",
      "z":"659b0a60.7f2d34",
      "name":"Reçoit index total et stocke dans flow.index_total_wh",
      "style":{
         "label":true
      },
      "nodes":[
         "c0d190a.1ff567",
         "d6adddfb.b54c2",
         "4968bbd.67adc44"
      ],
      "x":34,
      "y":359,
      "w":372,
      "h":122
   },
   {
      "id":"c0d190a.1ff567",
      "type":"link in",
      "z":"659b0a60.7f2d34",
      "g":"27652c41.90dc54",
      "name":"total in",
      "links":[
         "93a74aa9.b881d8"
      ],
      "x":75,
      "y":440,
      "wires":[
         [
            "d6adddfb.b54c2",
            "4968bbd.67adc44"
         ]
      ]
   },
   {
      "id":"d6adddfb.b54c2",
      "type":"debug",
      "z":"659b0a60.7f2d34",
      "g":"27652c41.90dc54",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":210,
      "y":400,
      "wires":[
         
      ]
   },
   {
      "id":"4968bbd.67adc44",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"27652c41.90dc54",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_total_wh",
            "pt":"flow",
            "to":"payload",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":270,
      "y":440,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"466f20dc.0c6cf",
      "type":"group",
      "z":"659b0a60.7f2d34",
      "name":"Reçoit index HC et stocke dans flow.index_hc_wh",
      "style":{
         "label":true
      },
      "nodes":[
         "765371ed.a4ba9",
         "8e61437d.2bb35",
         "5d6f414b.5cb08"
      ],
      "x":794,
      "y":359,
      "w":352,
      "h":122
   },
   {
      "id":"765371ed.a4ba9",
      "type":"link in",
      "z":"659b0a60.7f2d34",
      "g":"466f20dc.0c6cf",
      "name":"hc in",
      "links":[
         "1fce1435.01607c"
      ],
      "x":835,
      "y":440,
      "wires":[
         [
            "8e61437d.2bb35",
            "5d6f414b.5cb08"
         ]
      ]
   },
   {
      "id":"8e61437d.2bb35",
      "type":"debug",
      "z":"659b0a60.7f2d34",
      "g":"466f20dc.0c6cf",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":970,
      "y":400,
      "wires":[
         
      ]
   },
   {
      "id":"5d6f414b.5cb08",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"466f20dc.0c6cf",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_hp_wh",
            "pt":"flow",
            "to":"payload",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1020,
      "y":440,
      "wires":[
         [
            
         ]
      ]
   }
]
