contrat_hp_hc/monophasé/flow1.json
[
   {
      "id":"648d2bd.95a5bd4",
      "type":"link out",
      "z":"eb54216.5ae55e",
      "name":"hp out",
      "links":[
         "b8294171.34804"
      ],
      "x":1475,
      "y":440,
      "wires":[
         
      ]
   },
   {
      "id":"353b5098.238fe",
      "type":"link out",
      "z":"eb54216.5ae55e",
      "name":"hc out",
      "links":[
         "765371ed.a4ba9"
      ],
      "x":1475,
      "y":600,
      "wires":[
         
      ]
   },
   {
      "id":"755bc48c.db625c",
      "type":"debug",
      "z":"eb54216.5ae55e",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":1290,
      "y":120,
      "wires":[
         
      ]
   },
   {
      "id":"956f3baa.89aff8",
      "type":"function",
      "z":"eb54216.5ae55e",
      "name":"Structure payload",
      "func":"function isNumeric(n) { \n      return !isNaN(parseFloat(n)) && isFinite(n); \n}\n\n// Pour tous les labels \nfor (var label in msg.payload ) {\n    var value = msg.payload[label];\n    \n\t// Correction des valeurs type string en numérique \t\t\n\tif (label == \"OPTARIF\")\t{\n  \t\t// L'option tarifaire choisie (Groupe \"OPTARIF\") est codée sur 4 caractères alphanumériques \n  \t\t// J'ai pris un nombre arbitraire codé dans l'ordre ci-dessous \n  \t\t// je mets le 4eme char à 0, trop de possibilités \n      \tvalue = value.substring(0, 3);\n    \n       \tif      (value==\"BAS\") value=1;// BASE => Option Base. \n  \t\telse if (value==\"HC.\") value=2;// HC.. => Option Heures Creuses. \n  \t\telse if (value==\"EJP\") value=3;// EJP. => Option EJP. \n  \t\telse if (value==\"BBR\") value=4;// BBRx => Option Tempo\n  \t\telse value = 0;\n  \t\t\n  \t\tmsg.payload[label] = value;\n\t} else if (label==\"HHPHC\") {\n      // L'horaire heures pleines/heures creuses (Groupe \"HHPHC\") est codé par un caractère A à Y \n      // J'ai choisi de prendre son code ASCII\n      msg.payload[label] = value.charCodeAt();\n    } else if ( label == \"PTEC\") {\n      // La période tarifaire en cours (Groupe \"PTEC\"), est codée sur 4 caractères \n      // J'ai pris un nombre arbitraire codé dans l'ordre ci-dessous\n      if      (value==\"TH..\") value= 1; // Toutes les Heures. \n      else if (value==\"HC..\") value= \"Heures Creuses\"; // Heures Creuses. \n      else if (value==\"HP..\") value= \"Heures Pleines\"; // Heures Pleines. \n      else if (value==\"HN..\") value= 4; // Heures Normales. \n      else if (value==\"PM..\") value= 5; // Heures de Pointe Mobile. \n      else if (value==\"HCJB\") value= 6; // Heures Creuses Jours Bleus. \n      else if (value==\"HCJW\") value= 7; // Heures Creuses Jours Blancs (White). \n      else if (value==\"HCJR\") value= 8; // Heures Creuses Jours Rouges. \n      else if (value==\"HPJB\") value= 9; // Heures Pleines Jours Bleus. \n      else if (value==\"HPJW\") value= 10;// Heures Pleines Jours Blancs (White). \n      else if (value==\"HPJR\") value= 11;// Heures Pleines Jours Rouges. \n      else value = 0;\n      \n      msg.payload[label] = value;\n    } else if ( label == \"IINST\") {\n        delete msg.payload.IINST;\n        msg.payload.IINST = Number(value)\n    } else if ( label == \"IMAX\") {\n        delete msg.payload.IMAX;\n        msg.payload.IMAX1 = Number(value);\n    } else if ( isNumeric(value) && label != \"ADCO\" ) {\n        // Transformer les valeurs numériques\n        msg.payload[label] = Number(value);\n    }\n}\n\n// Sauvegarde dans le contexte global\ncontext.global.teleinfo = msg.payload;\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":650,
      "y":300,
      "wires":[
         [
            "6af8ff92.d71ec",
            "34121d5e.5ec942",
            "243bf279.d6874e",
            "77e37dde.8515d4",
            "8bd47e38.98661",
            "57375dcb.7f0fc4"
         ]
      ]
   },
   {
      "id":"bbc57eb8.281dd",
      "type":"serial in",
      "z":"eb54216.5ae55e",
      "name":"",
      "serial":"40ca77b1.eab5e8",
      "x":70,
      "y":300,
      "wires":[
         [
            "e786a6ee.4dbcf8"
         ]
      ]
   },
   {
      "id":"2b01da0c.2c0ef6",
      "type":"function",
      "z":"eb54216.5ae55e",
      "name":"valide trame",
      "func":"// La trame complète est reçue dans 'msg'\nvar teleinfo={};\n\n// Enlever les codes début et fin de trame et récupérer les lignes 1 à 1\nvar lines = msg.payload.toString().replace(\"\\u0002\\n\",\"\").replace(\"\\r\\u0003\",\"\");\nlines = lines.split(\"\\r\\n\");\n\n// Pour chaque ligne\nfor (var line in lines) {\n\tvar i;\n  \tvar checksum = 32;\n  \t\n  \t// Recupérer le label, la valeur et la checksum\n  \t// si la checksum est un espace on le remplace par un caractère non \n  \t// autorisé en checksum (ici 's') pour eviter pb de split\n  \t// donc espace espace devient espace s\n\tvar myline = lines[line].toString().replace(\"  \",\" s\").split(\" \");\n\t\n\t// on dépile nos 3 valeurs\n\tvar check = myline.pop();\n\tvar value = myline.pop();\n\tvar label = myline.pop();\n\t\n\t// On peu repositionner la checksum à espace si c'était le cas\n\tif (check == \"s\") check = \" \";\n\n\t// Calcul de la checksum sur ce qu'on a reçu, on balaye tous les caractères\t\t\n  \tfor (i = 0; i < label.length; i++) checksum += label.charCodeAt(i);\n  \tfor (i = 0; i < value.length; i++) checksum += value.charCodeAt(i);\n \tchecksum = ((checksum%256) & 63) + 32;\n \tchecksum = String.fromCharCode(checksum);\n\t\n\t// Checksum correcte ?\n \tif (checksum == check ) {\n\t\tteleinfo[label] = value;\n\t} else {\n\t\tconsole.log(\"'%s' '%s' '%s' => Bad Checksum '%s'\", label, value, check, checksum );\n\t}\n}\nreturn [ { payload: teleinfo } ];",
      "outputs":1,
      "noerr":0,
      "x":450,
      "y":300,
      "wires":[
         [
            "956f3baa.89aff8",
            "b8dbdc6b.92ab8"
         ]
      ]
   },
   {
      "id":"3bccdb56.d4a224",
      "type":"rbe",
      "z":"eb54216.5ae55e",
      "name":"",
      "func":"rbe",
      "gap":"",
      "start":"",
      "inout":"out",
      "property":"payload",
      "x":1110,
      "y":100,
      "wires":[
         [
            "755bc48c.db625c",
            "5eb40d7e.caaf64",
            "6fa5e238.abe2dc"
         ]
      ]
   },
   {
      "id":"6e9ea0fd.38b4f",
      "type":"rbe",
      "z":"eb54216.5ae55e",
      "name":"",
      "func":"rbe",
      "gap":"",
      "start":"",
      "inout":"out",
      "property":"payload",
      "x":1110,
      "y":300,
      "wires":[
         [
            "f4459d42.3b531",
            "ed8b95bb.8c7958"
         ]
      ]
   },
   {
      "id":"f4459d42.3b531",
      "type":"debug",
      "z":"eb54216.5ae55e",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":1290,
      "y":320,
      "wires":[
         
      ]
   },
   {
      "id":"34121d5e.5ec942",
      "type":"function",
      "z":"eb54216.5ae55e",
      "name":"IINST",
      "func":"var IINST = msg.payload.IINST\n\nmsg.payload = IINST\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":870,
      "y":760,
      "wires":[
         [
            "445f0349.d7e5bc"
         ]
      ]
   },
   {
      "id":"d4c34c29.5494d",
      "type":"debug",
      "z":"eb54216.5ae55e",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":1290,
      "y":780,
      "wires":[
         
      ]
   },
   {
      "id":"445f0349.d7e5bc",
      "type":"rbe",
      "z":"eb54216.5ae55e",
      "name":"",
      "func":"rbe",
      "gap":"",
      "start":"",
      "inout":"out",
      "property":"payload",
      "x":1110,
      "y":760,
      "wires":[
         [
            "d4c34c29.5494d",
            "9c1fcb19.292b88"
         ]
      ]
   },
   {
      "id":"e786a6ee.4dbcf8",
      "type":"delay",
      "z":"eb54216.5ae55e",
      "name":"",
      "pauseType":"rate",
      "timeout":"5",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"15",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":true,
      "x":260,
      "y":300,
      "wires":[
         [
            "2b01da0c.2c0ef6",
            "8de488c0.01a068"
         ]
      ]
   },
   {
      "id":"6af8ff92.d71ec",
      "type":"debug",
      "z":"eb54216.5ae55e",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":650,
      "y":200,
      "wires":[
         
      ]
   },
   {
      "id":"b8dbdc6b.92ab8",
      "type":"debug",
      "z":"eb54216.5ae55e",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":450,
      "y":200,
      "wires":[
         
      ]
   },
   {
      "id":"8de488c0.01a068",
      "type":"debug",
      "z":"eb54216.5ae55e",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":270,
      "y":200,
      "wires":[
         
      ]
   },
   {
      "id":"6c4444b3.89d16c",
      "type":"influxdb out",
      "z":"eb54216.5ae55e",
      "influxdb":"506ad1a9.81606",
      "name":"index Wh",
      "measurement":"Wh",
      "precision":"",
      "retentionPolicy":"",
      "x":1300,
      "y":80,
      "wires":[
         
      ]
   },
   {
      "id":"5eb40d7e.caaf64",
      "type":"function",
      "z":"eb54216.5ae55e",
      "name":"",
      "func":"var INDEX_WH = msg.payload;\nmsg.payload = [];\nfields = {\"value\":INDEX_WH};\ntags =  {\"entity\":\"teleinfo_total\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1110,
      "y":40,
      "wires":[
         [
            "6e8282b9.7721ac",
            "6c4444b3.89d16c"
         ]
      ]
   },
   {
      "id":"6e8282b9.7721ac",
      "type":"debug",
      "z":"eb54216.5ae55e",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":1290,
      "y":40,
      "wires":[
         
      ]
   },
   {
      "id":"ed8b95bb.8c7958",
      "type":"function",
      "z":"eb54216.5ae55e",
      "name":"",
      "func":"var INDEX_KWH = msg.payload;\nmsg.payload = [];\nfields = {\"value\":INDEX_KWH};\ntags =  {\"entity\":\"teleinfo_total\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1110,
      "y":240,
      "wires":[
         [
            "3f279b79.1e73e4",
            "2f5afdfc.bdd9c2"
         ]
      ]
   },
   {
      "id":"3f279b79.1e73e4",
      "type":"influxdb out",
      "z":"eb54216.5ae55e",
      "influxdb":"506ad1a9.81606",
      "name":"index kWh",
      "measurement":"kWh",
      "precision":"",
      "retentionPolicy":"",
      "x":1310,
      "y":280,
      "wires":[
         
      ]
   },
   {
      "id":"2f5afdfc.bdd9c2",
      "type":"debug",
      "z":"eb54216.5ae55e",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":1290,
      "y":240,
      "wires":[
         
      ]
   },
   {
      "id":"9c1fcb19.292b88",
      "type":"function",
      "z":"eb54216.5ae55e",
      "name":"",
      "func":"var IINST = msg.payload;\nmsg.payload = [];\nfields = {\"value\":IINST};\ntags =  {\"entity\":\"teleinfo\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1110,
      "y":700,
      "wires":[
         [
            "8510b06d.26ad6",
            "f6b8afdf.78f76"
         ]
      ]
   },
   {
      "id":"8510b06d.26ad6",
      "type":"influxdb out",
      "z":"eb54216.5ae55e",
      "influxdb":"506ad1a9.81606",
      "name":"IINST A",
      "measurement":"A",
      "precision":"",
      "retentionPolicy":"",
      "x":1300,
      "y":740,
      "wires":[
         
      ]
   },
   {
      "id":"f6b8afdf.78f76",
      "type":"debug",
      "z":"eb54216.5ae55e",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":1290,
      "y":700,
      "wires":[
         
      ]
   },
   {
      "id":"6fa5e238.abe2dc",
      "type":"link out",
      "z":"eb54216.5ae55e",
      "name":"total out",
      "links":[
         "c0d190a.1ff567"
      ],
      "x":1475,
      "y":100,
      "wires":[
         
      ]
   },
   {
      "id":"77e37dde.8515d4",
      "type":"function",
      "z":"eb54216.5ae55e",
      "name":"INDEX HC WH",
      "func":"var INDEX_HC = msg.payload.HCHC\n\nmsg.payload = INDEX_HC\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":900,
      "y":600,
      "wires":[
         [
            "e1efa43a.080c28"
         ]
      ]
   },
   {
      "id":"243bf279.d6874e",
      "type":"function",
      "z":"eb54216.5ae55e",
      "name":"INDEX HP WH",
      "func":"var INDEX_HP = msg.payload.HCHP\n\nmsg.payload = INDEX_HP\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":900,
      "y":440,
      "wires":[
         [
            "d920d516.17c5c8"
         ]
      ]
   },
   {
      "id":"d920d516.17c5c8",
      "type":"rbe",
      "z":"eb54216.5ae55e",
      "name":"",
      "func":"rbe",
      "gap":"",
      "start":"",
      "inout":"out",
      "property":"payload",
      "x":1110,
      "y":440,
      "wires":[
         [
            "e5644bbb.70e948",
            "76127d56.6c4f04",
            "648d2bd.95a5bd4"
         ]
      ]
   },
   {
      "id":"e1efa43a.080c28",
      "type":"rbe",
      "z":"eb54216.5ae55e",
      "name":"",
      "func":"rbe",
      "gap":"",
      "start":"",
      "inout":"out",
      "property":"payload",
      "x":1110,
      "y":600,
      "wires":[
         [
            "3988596f.ee4776",
            "340e88c6.613778",
            "353b5098.238fe"
         ]
      ]
   },
   {
      "id":"e5644bbb.70e948",
      "type":"function",
      "z":"eb54216.5ae55e",
      "name":"",
      "func":"var INDEX_HP = msg.payload;\nmsg.payload = [];\nfields = {\"value\":INDEX_HP};\ntags =  {\"entity\":\"teleinfo_hp\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1120,
      "y":380,
      "wires":[
         [
            "68f2842.a64e67c",
            "504b28e3.8be6b8"
         ]
      ]
   },
   {
      "id":"3988596f.ee4776",
      "type":"function",
      "z":"eb54216.5ae55e",
      "name":"",
      "func":"var INDEX_HC = msg.payload;\nmsg.payload = [];\nfields = {\"value\":INDEX_HC};\ntags =  {\"entity\":\"teleinfo_hc\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1120,
      "y":540,
      "wires":[
         [
            "b6f40a03.ae2838",
            "83485764.1094f8"
         ]
      ]
   },
   {
      "id":"8bd47e38.98661",
      "type":"function",
      "z":"eb54216.5ae55e",
      "name":"INDEX TOTAL WH",
      "func":"var INDEX = msg.payload.HCHC + msg.payload.HCHP\n\nmsg.payload = INDEX\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":910,
      "y":100,
      "wires":[
         [
            "3bccdb56.d4a224"
         ]
      ]
   },
   {
      "id":"57375dcb.7f0fc4",
      "type":"function",
      "z":"eb54216.5ae55e",
      "name":"INDEX TOTAL KWH",
      "func":"var INDEX = msg.payload.HCHC + msg.payload.HCHP\n\nmsg.payload = INDEX / 1000\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":920,
      "y":300,
      "wires":[
         [
            "6e9ea0fd.38b4f"
         ]
      ]
   },
   {
      "id":"76127d56.6c4f04",
      "type":"debug",
      "z":"eb54216.5ae55e",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":1290,
      "y":460,
      "wires":[
         
      ]
   },
   {
      "id":"504b28e3.8be6b8",
      "type":"influxdb out",
      "z":"eb54216.5ae55e",
      "influxdb":"506ad1a9.81606",
      "name":"index HP Wh",
      "measurement":"Wh",
      "precision":"",
      "retentionPolicy":"",
      "x":1310,
      "y":420,
      "wires":[
         
      ]
   },
   {
      "id":"68f2842.a64e67c",
      "type":"debug",
      "z":"eb54216.5ae55e",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":1290,
      "y":380,
      "wires":[
         
      ]
   },
   {
      "id":"340e88c6.613778",
      "type":"debug",
      "z":"eb54216.5ae55e",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":1290,
      "y":620,
      "wires":[
         
      ]
   },
   {
      "id":"83485764.1094f8",
      "type":"influxdb out",
      "z":"eb54216.5ae55e",
      "influxdb":"506ad1a9.81606",
      "name":"index HC Wh",
      "measurement":"Wh",
      "precision":"",
      "retentionPolicy":"",
      "x":1310,
      "y":580,
      "wires":[
         
      ]
   },
   {
      "id":"b6f40a03.ae2838",
      "type":"debug",
      "z":"eb54216.5ae55e",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":1290,
      "y":540,
      "wires":[
         
      ]
   },
   {
      "id":"40ca77b1.eab5e8",
      "type":"serial-port",
      "serialport":"/dev/ttyUSB0",
      "serialbaud":"1200",
      "databits":"7",
      "parity":"even",
      "stopbits":"1",
      "waitfor":"",
      "newline":"0x3",
      "bin":"false",
      "out":"char",
      "addchar":"",
      "responsetimeout":"10000"
   },
   {
      "id":"506ad1a9.81606",
      "type":"influxdb",
      "hostname":"192.168.1.10",
      "port":"8086",
      "protocol":"http",
      "database":"edf",
      "name":"EDF",
      "usetls":false,
      "tls":"",
      "influxdbVersion":"1.x"
   }
]
