contrat_hp_hc/monophasé/flow2_part1.json
[
   {
      "id":"58c4a1df.b56a6",
      "type":"group",
      "z":"659b0a60.7f2d34",
      "name":"calcul pinst",
      "style":{
         "label":true
      },
      "nodes":[
         "efc045d4.c29478",
         "83356668.e07e48",
         "f5d5b332.4b77f",
         "2d1422b8.bc851e",
         "fcdca848.3dce98",
         "56d0e70e.d93968",
         "6c355.15ab3cac",
         "caf50738.7b1b08",
         "49471908.202928",
         "775eb1ea.627d8",
         "362a4811.31d588",
         "55759228.ad212c",
         "9dc04dfd.a18ca",
         "5df9f52b.3aa30c"
      ],
      "x":74,
      "y":179,
      "w":1312,
      "h":262
   },
   {
      "id":"efc045d4.c29478",
      "type":"influxdb in",
      "z":"659b0a60.7f2d34",
      "g":"58c4a1df.b56a6",
      "influxdb":"506ad1a9.81606",
      "name":"2min ago index",
      "query":"SELECT distinct(\"value\") FROM \"Wh\" WHERE (\"entity\" = 'teleinfo_total') AND time >= now() - 120s GROUP BY time(1s) fill(null)",
      "rawOutput":false,
      "precision":"",
      "retentionPolicy":"",
      "x":360,
      "y":260,
      "wires":[
         [
            "f5d5b332.4b77f",
            "55759228.ad212c"
         ]
      ]
   },
   {
      "id":"83356668.e07e48",
      "type":"influxdb in",
      "z":"659b0a60.7f2d34",
      "g":"58c4a1df.b56a6",
      "influxdb":"506ad1a9.81606",
      "name":"last index",
      "query":"SELECT distinct(\"value\") FROM \"Wh\" WHERE (\"entity\" = 'teleinfo_total') AND time >= now() - 1m GROUP BY time(1s) fill(null) ORDER BY time DESC",
      "rawOutput":false,
      "precision":"",
      "retentionPolicy":"",
      "x":340,
      "y":360,
      "wires":[
         [
            "6c355.15ab3cac",
            "9dc04dfd.a18ca"
         ]
      ]
   },
   {
      "id":"f5d5b332.4b77f",
      "type":"function",
      "z":"659b0a60.7f2d34",
      "g":"58c4a1df.b56a6",
      "name":"",
      "func":"msg2 = {};\nmsg2.payload = {};\ntopic = 'old';\nmsg2.payload.old_state = parseFloat(msg.payload[0].distinct);\nmsg2.payload.old_date = new Date(msg.payload[0].time);\nmsg2.topic = topic;\nreturn msg2;",
      "outputs":1,
      "noerr":0,
      "x":530,
      "y":260,
      "wires":[
         [
            "2d1422b8.bc851e",
            "49471908.202928"
         ]
      ]
   },
   {
      "id":"2d1422b8.bc851e",
      "type":"join",
      "z":"659b0a60.7f2d34",
      "g":"58c4a1df.b56a6",
      "name":"",
      "mode":"custom",
      "build":"object",
      "property":"payload",
      "propertyType":"msg",
      "key":"topic",
      "joiner":"\\n",
      "joinerType":"str",
      "accumulate":false,
      "timeout":"",
      "count":"2",
      "reduceRight":false,
      "reduceExp":"",
      "reduceInit":"",
      "reduceInitType":"",
      "reduceFixup":"",
      "x":670,
      "y":300,
      "wires":[
         [
            "fcdca848.3dce98"
         ]
      ]
   },
   {
      "id":"fcdca848.3dce98",
      "type":"function",
      "z":"659b0a60.7f2d34",
      "g":"58c4a1df.b56a6",
      "name":"",
      "func":"old = msg.payload.old.old_state;\ncurrent = msg.payload.new.new_state;\ndiff_index = current - old;\ndiff_seconds = (msg.payload.new.new_date - msg.payload.old.old_date) / 1000;\nif (diff_seconds == 0) {\n    conso = 0;\n} else {\n    coeff = diff_seconds / 3600\n    conso = diff_index / coeff\n    conso = Math.round(conso*100)/100\n}\nmsg2 = {};\nmsg2.payload = {};\nmsg2.payload.conso = conso;\nmsg2.payload.diff_sec = diff_seconds;\nmsg2.payload.old_time = msg.payload.old.old_date;\nmsg2.payload.new_time = msg.payload.new.new_date;\nreturn msg2;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":810,
      "y":300,
      "wires":[
         [
            "caf50738.7b1b08"
         ]
      ]
   },
   {
      "id":"56d0e70e.d93968",
      "type":"inject",
      "z":"659b0a60.7f2d34",
      "g":"58c4a1df.b56a6",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"90",
      "crontab":"",
      "once":true,
      "onceDelay":"30",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":190,
      "y":320,
      "wires":[
         [
            "efc045d4.c29478",
            "83356668.e07e48"
         ]
      ]
   },
   {
      "id":"6c355.15ab3cac",
      "type":"function",
      "z":"659b0a60.7f2d34",
      "g":"58c4a1df.b56a6",
      "name":"",
      "func":"msg3 = {};\nmsg3.payload = {};\ntopic = 'new';\nmsg3.payload.new_state = parseFloat(msg.payload[0].distinct);\nmsg3.payload.new_date = new Date(msg.payload[0].time);\nmsg3.topic = topic;\nreturn msg3;",
      "outputs":1,
      "noerr":0,
      "x":530,
      "y":360,
      "wires":[
         [
            "2d1422b8.bc851e",
            "775eb1ea.627d8"
         ]
      ]
   },
   {
      "id":"caf50738.7b1b08",
      "type":"function",
      "z":"659b0a60.7f2d34",
      "g":"58c4a1df.b56a6",
      "name":"transforme en nombre + format pour influx",
      "func":"var conso = parseFloat(msg.payload.conso);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_teleinfo\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":1040,
      "y":300,
      "wires":[
         [
            "362a4811.31d588",
            "5df9f52b.3aa30c"
         ]
      ]
   },
   {
      "id":"49471908.202928",
      "type":"debug",
      "z":"659b0a60.7f2d34",
      "g":"58c4a1df.b56a6",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":670,
      "y":260,
      "wires":[
         
      ]
   },
   {
      "id":"775eb1ea.627d8",
      "type":"debug",
      "z":"659b0a60.7f2d34",
      "g":"58c4a1df.b56a6",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":670,
      "y":340,
      "wires":[
         
      ]
   },
   {
      "id":"362a4811.31d588",
      "type":"debug",
      "z":"659b0a60.7f2d34",
      "g":"58c4a1df.b56a6",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":1290,
      "y":260,
      "wires":[
         
      ]
   },
   {
      "id":"55759228.ad212c",
      "type":"debug",
      "z":"659b0a60.7f2d34",
      "g":"58c4a1df.b56a6",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":530,
      "y":220,
      "wires":[
         
      ]
   },
   {
      "id":"9dc04dfd.a18ca",
      "type":"debug",
      "z":"659b0a60.7f2d34",
      "g":"58c4a1df.b56a6",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":530,
      "y":400,
      "wires":[
         
      ]
   },
   {
      "id":"5df9f52b.3aa30c",
      "type":"influxdb out",
      "z":"659b0a60.7f2d34",
      "g":"58c4a1df.b56a6",
      "influxdb":"506ad1a9.81606",
      "name":"Conso W",
      "measurement":"W",
      "precision":"",
      "retentionPolicy":"",
      "x":1300,
      "y":300,
      "wires":[
         
      ]
   },
   {
      "id":"506ad1a9.81606",
      "type":"influxdb",
      "hostname":"192.168.1.10",
      "port":"8086",
      "protocol":"http",
      "database":"edf",
      "name":"EDF",
      "usetls":false,
      "tls":"",
      "influxdbVersion":"1.x"
   }
]
