contrat_hp_hc/monophasé/flow2_part4.json
[
   {
      "id":"a80f53aa.c1475",
      "type":"group",
      "z":"eb54216.5ae55e",
      "name":"Compte le nombre d'indexes passé depuis le début de chaque période (toutes les minutes)",
      "style":{
         "label":true
      },
      "nodes":[
         "3178dddc.82ed82",
         "da953087.eb4f5",
         "95d998fc.d22728",
         "3fa070e2.9a5dc",
         "5f5387ea.f521f8",
         "f51bab2b.dbbce8",
         "ae03ec08.e927b",
         "88a08fa7.e929b",
         "45cfa6c7.93dc88",
         "31a739fa.5f4536",
         "9428e3c0.ec64a",
         "f32112ad.6a13d",
         "c10c494c.4a0ae8",
         "c403ebec.994e68",
         "3954fa79.7d5fd6",
         "419c0f7a.55248",
         "82ee2ff4.caded",
         "39ef7c35.7316f4",
         "3876240f.40069c",
         "9c771f3c.40186",
         "4c08b7d0.c7b4c8",
         "ab94fef8.2ae76",
         "77bef520.cde0cc",
         "619efd7c.079244",
         "a2cb1f6a.336d5",
         "ab7380d0.a093",
         "ff58a7ed.c12098",
         "aba763ff.6d367",
         "95210184.28be8",
         "67f25ab3.805cf4",
         "68457135.c4617",
         "99a1672c.92f568",
         "41552962.213a28",
         "df064210.05ba1",
         "5e12d781.25d508",
         "cd275898.99f3b8",
         "5686ff8c.0feb7",
         "9ae9f402.f553a8",
         "a81212c9.52ec9",
         "a0ef7b24.8819f8",
         "d89257a1.05e1d8",
         "9eb4c7cd.f4f9b8",
         "caf9096.0597ff8",
         "324dcd41.7b5852",
         "d24761d9.77ff8",
         "7430127e.aa49bc"
      ],
      "x":34,
      "y":179,
      "w":1592,
      "h":402
   },
   {
      "id":"3178dddc.82ed82",
      "type":"change",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_total_wh_end_day",
            "pt":"flow",
            "to":"index_total_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":460,
      "y":220,
      "wires":[
         [
            "5f5387ea.f521f8"
         ]
      ]
   },
   {
      "id":"da953087.eb4f5",
      "type":"change",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_total_wh_end_month",
            "pt":"flow",
            "to":"index_total_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":460,
      "y":260,
      "wires":[
         [
            "ae03ec08.e927b"
         ]
      ]
   },
   {
      "id":"95d998fc.d22728",
      "type":"change",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_total_wh_end_year",
            "pt":"flow",
            "to":"index_total_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":460,
      "y":300,
      "wires":[
         [
            "45cfa6c7.93dc88"
         ]
      ]
   },
   {
      "id":"3fa070e2.9a5dc",
      "type":"calculator",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "inputMsgField":"payload",
      "outputMsgField":"payload",
      "operation":"sub",
      "constant":"",
      "x":920,
      "y":220,
      "wires":[
         [
            "9428e3c0.ec64a"
         ]
      ]
   },
   {
      "id":"5f5387ea.f521f8",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "func":"var total_start_day = flow.get(\"index_total_wh_start_day\");\nvar total_end_day = flow.get(\"index_total_wh_end_day\");\nmsg.payload = [total_end_day,total_start_day];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":780,
      "y":220,
      "wires":[
         [
            "3fa070e2.9a5dc"
         ]
      ]
   },
   {
      "id":"f51bab2b.dbbce8",
      "type":"calculator",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "inputMsgField":"payload",
      "outputMsgField":"payload",
      "operation":"sub",
      "constant":"",
      "x":920,
      "y":260,
      "wires":[
         [
            "f32112ad.6a13d"
         ]
      ]
   },
   {
      "id":"ae03ec08.e927b",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "func":"var total_start_month = flow.get(\"index_total_wh_start_month\");\nvar total_end_month = flow.get(\"index_total_wh_end_month\");\nmsg.payload = [total_end_month,total_start_month];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":780,
      "y":260,
      "wires":[
         [
            "f51bab2b.dbbce8"
         ]
      ]
   },
   {
      "id":"88a08fa7.e929b",
      "type":"calculator",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "inputMsgField":"payload",
      "outputMsgField":"payload",
      "operation":"sub",
      "constant":"",
      "x":920,
      "y":300,
      "wires":[
         [
            "c10c494c.4a0ae8"
         ]
      ]
   },
   {
      "id":"45cfa6c7.93dc88",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "func":"var total_start_year = flow.get(\"index_total_wh_start_year\");\nvar total_end_year = flow.get(\"index_total_wh_end_year\");\nmsg.payload = [total_end_year,total_start_year];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":780,
      "y":300,
      "wires":[
         [
            "88a08fa7.e929b"
         ]
      ]
   },
   {
      "id":"31a739fa.5f4536",
      "type":"inject",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"60",
      "crontab":"",
      "once":true,
      "onceDelay":"10",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":150,
      "y":380,
      "wires":[
         [
            "3178dddc.82ed82",
            "da953087.eb4f5",
            "95d998fc.d22728",
            "c403ebec.994e68",
            "3954fa79.7d5fd6",
            "419c0f7a.55248",
            "82ee2ff4.caded",
            "39ef7c35.7316f4",
            "3876240f.40069c"
         ]
      ]
   },
   {
      "id":"9428e3c0.ec64a",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"transforme en nombre + format pour influx",
      "func":"var conso = parseFloat(msg.payload);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_total_day\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1180,
      "y":220,
      "wires":[
         [
            "9ae9f402.f553a8"
         ]
      ]
   },
   {
      "id":"f32112ad.6a13d",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"transforme en nombre + format pour influx",
      "func":"var conso = parseFloat(msg.payload);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_total_month\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1180,
      "y":260,
      "wires":[
         [
            "a81212c9.52ec9"
         ]
      ]
   },
   {
      "id":"c10c494c.4a0ae8",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"transforme en nombre + format pour influx",
      "func":"var conso = parseFloat(msg.payload);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_total_year\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1180,
      "y":300,
      "wires":[
         [
            "a0ef7b24.8819f8"
         ]
      ]
   },
   {
      "id":"c403ebec.994e68",
      "type":"change",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_hp_wh_end_day",
            "pt":"flow",
            "to":"index_hp_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":450,
      "y":340,
      "wires":[
         [
            "9c771f3c.40186"
         ]
      ]
   },
   {
      "id":"3954fa79.7d5fd6",
      "type":"change",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_hp_wh_end_month",
            "pt":"flow",
            "to":"index_hp_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":460,
      "y":380,
      "wires":[
         [
            "41552962.213a28"
         ]
      ]
   },
   {
      "id":"419c0f7a.55248",
      "type":"change",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_hp_wh_end_year",
            "pt":"flow",
            "to":"index_hp_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":450,
      "y":420,
      "wires":[
         [
            "df064210.05ba1"
         ]
      ]
   },
   {
      "id":"82ee2ff4.caded",
      "type":"change",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_hc_wh_end_day",
            "pt":"flow",
            "to":"index_hc_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":450,
      "y":460,
      "wires":[
         [
            "5e12d781.25d508"
         ]
      ]
   },
   {
      "id":"39ef7c35.7316f4",
      "type":"change",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_hc_wh_end_month",
            "pt":"flow",
            "to":"index_hc_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":460,
      "y":500,
      "wires":[
         [
            "cd275898.99f3b8"
         ]
      ]
   },
   {
      "id":"3876240f.40069c",
      "type":"change",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_hc_wh_end_year",
            "pt":"flow",
            "to":"index_hc_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":450,
      "y":540,
      "wires":[
         [
            "5686ff8c.0feb7"
         ]
      ]
   },
   {
      "id":"9c771f3c.40186",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "func":"var hp_start_day = flow.get(\"index_hp_wh_start_day\");\nvar hp_end_day = flow.get(\"index_hp_wh_end_day\");\nmsg.payload = [hp_end_day,hp_start_day];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":780,
      "y":340,
      "wires":[
         [
            "4c08b7d0.c7b4c8"
         ]
      ]
   },
   {
      "id":"4c08b7d0.c7b4c8",
      "type":"calculator",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "inputMsgField":"payload",
      "outputMsgField":"payload",
      "operation":"sub",
      "constant":"",
      "x":920,
      "y":340,
      "wires":[
         [
            "ab94fef8.2ae76"
         ]
      ]
   },
   {
      "id":"ab94fef8.2ae76",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"transforme en nombre + format pour influx",
      "func":"var conso = parseFloat(msg.payload);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_hp_day\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1180,
      "y":340,
      "wires":[
         [
            "d89257a1.05e1d8"
         ]
      ]
   },
   {
      "id":"77bef520.cde0cc",
      "type":"calculator",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "inputMsgField":"payload",
      "outputMsgField":"payload",
      "operation":"sub",
      "constant":"",
      "x":920,
      "y":380,
      "wires":[
         [
            "619efd7c.079244"
         ]
      ]
   },
   {
      "id":"619efd7c.079244",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"transforme en nombre + format pour influx",
      "func":"var conso = parseFloat(msg.payload);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_hp_month\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1180,
      "y":380,
      "wires":[
         [
            "9eb4c7cd.f4f9b8"
         ]
      ]
   },
   {
      "id":"a2cb1f6a.336d5",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"transforme en nombre + format pour influx",
      "func":"var conso = parseFloat(msg.payload);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_hp_year\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1180,
      "y":420,
      "wires":[
         [
            "caf9096.0597ff8"
         ]
      ]
   },
   {
      "id":"ab7380d0.a093",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"transforme en nombre + format pour influx",
      "func":"var conso = parseFloat(msg.payload);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_hc_day\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1180,
      "y":460,
      "wires":[
         [
            "324dcd41.7b5852"
         ]
      ]
   },
   {
      "id":"ff58a7ed.c12098",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"transforme en nombre + format pour influx",
      "func":"var conso = parseFloat(msg.payload);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_hc_month\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1180,
      "y":500,
      "wires":[
         [
            "7430127e.aa49bc"
         ]
      ]
   },
   {
      "id":"aba763ff.6d367",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"transforme en nombre + format pour influx",
      "func":"var conso = parseFloat(msg.payload);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_hc_year\"};\nmsg.payload = [fields,tags];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1180,
      "y":540,
      "wires":[
         [
            "d24761d9.77ff8"
         ]
      ]
   },
   {
      "id":"95210184.28be8",
      "type":"calculator",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "inputMsgField":"payload",
      "outputMsgField":"payload",
      "operation":"sub",
      "constant":"",
      "x":920,
      "y":540,
      "wires":[
         [
            "aba763ff.6d367"
         ]
      ]
   },
   {
      "id":"67f25ab3.805cf4",
      "type":"calculator",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "inputMsgField":"payload",
      "outputMsgField":"payload",
      "operation":"sub",
      "constant":"",
      "x":920,
      "y":500,
      "wires":[
         [
            "ff58a7ed.c12098"
         ]
      ]
   },
   {
      "id":"68457135.c4617",
      "type":"calculator",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "inputMsgField":"payload",
      "outputMsgField":"payload",
      "operation":"sub",
      "constant":"",
      "x":920,
      "y":460,
      "wires":[
         [
            "ab7380d0.a093"
         ]
      ]
   },
   {
      "id":"99a1672c.92f568",
      "type":"calculator",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "inputMsgField":"payload",
      "outputMsgField":"payload",
      "operation":"sub",
      "constant":"",
      "x":920,
      "y":420,
      "wires":[
         [
            "a2cb1f6a.336d5"
         ]
      ]
   },
   {
      "id":"41552962.213a28",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "func":"var hp_start_month = flow.get(\"index_hp_wh_start_month\");\nvar hp_end_month = flow.get(\"index_hp_wh_end_month\");\nmsg.payload = [hp_end_month,hp_start_month];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":780,
      "y":380,
      "wires":[
         [
            "77bef520.cde0cc"
         ]
      ]
   },
   {
      "id":"df064210.05ba1",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "func":"var hp_start_year = flow.get(\"index_hp_wh_start_year\");\nvar hp_end_year = flow.get(\"index_hp_wh_end_year\");\nmsg.payload = [hp_end_year,hp_start_year];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":780,
      "y":420,
      "wires":[
         [
            "99a1672c.92f568"
         ]
      ]
   },
   {
      "id":"5e12d781.25d508",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "func":"var hc_start_day = flow.get(\"index_hc_wh_start_day\");\nvar hc_end_day = flow.get(\"index_hc_wh_end_day\");\nmsg.payload = [hc_end_day,hc_start_day];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":780,
      "y":460,
      "wires":[
         [
            "68457135.c4617"
         ]
      ]
   },
   {
      "id":"cd275898.99f3b8",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "func":"var hc_start_month = flow.get(\"index_hc_wh_start_month\");\nvar hc_end_month = flow.get(\"index_hc_wh_end_month\");\nmsg.payload = [hc_end_month,hc_start_month];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":780,
      "y":500,
      "wires":[
         [
            "67f25ab3.805cf4"
         ]
      ]
   },
   {
      "id":"5686ff8c.0feb7",
      "type":"function",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "name":"",
      "func":"var hc_start_year = flow.get(\"index_hc_wh_start_year\");\nvar hc_end_year = flow.get(\"index_hc_wh_end_year\");\nmsg.payload = [hc_end_year,hc_start_year];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":780,
      "y":540,
      "wires":[
         [
            "95210184.28be8"
         ]
      ]
   },
   {
      "id":"9ae9f402.f553a8",
      "type":"influxdb out",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "influxdb":"506ad1a9.81606",
      "name":"Conso total Wh day",
      "measurement":"Wh",
      "precision":"",
      "retentionPolicy":"",
      "x":1490,
      "y":220,
      "wires":[
         
      ]
   },
   {
      "id":"a81212c9.52ec9",
      "type":"influxdb out",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "influxdb":"506ad1a9.81606",
      "name":"Conso total Wh month",
      "measurement":"Wh",
      "precision":"",
      "retentionPolicy":"",
      "x":1500,
      "y":260,
      "wires":[
         
      ]
   },
   {
      "id":"a0ef7b24.8819f8",
      "type":"influxdb out",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "influxdb":"506ad1a9.81606",
      "name":"Conso total Wh year",
      "measurement":"Wh",
      "precision":"",
      "retentionPolicy":"",
      "x":1500,
      "y":300,
      "wires":[
         
      ]
   },
   {
      "id":"d89257a1.05e1d8",
      "type":"influxdb out",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "influxdb":"506ad1a9.81606",
      "name":"Conso HP Wh day",
      "measurement":"Wh",
      "precision":"",
      "retentionPolicy":"",
      "x":1490,
      "y":340,
      "wires":[
         
      ]
   },
   {
      "id":"9eb4c7cd.f4f9b8",
      "type":"influxdb out",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "influxdb":"506ad1a9.81606",
      "name":"Conso HP Wh month",
      "measurement":"Wh",
      "precision":"",
      "retentionPolicy":"",
      "x":1500,
      "y":380,
      "wires":[
         
      ]
   },
   {
      "id":"caf9096.0597ff8",
      "type":"influxdb out",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "influxdb":"506ad1a9.81606",
      "name":"Conso HP Wh year",
      "measurement":"Wh",
      "precision":"",
      "retentionPolicy":"",
      "x":1490,
      "y":420,
      "wires":[
         
      ]
   },
   {
      "id":"324dcd41.7b5852",
      "type":"influxdb out",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "influxdb":"506ad1a9.81606",
      "name":"Conso HC Wh day",
      "measurement":"Wh",
      "precision":"",
      "retentionPolicy":"",
      "x":1490,
      "y":460,
      "wires":[
         
      ]
   },
   {
      "id":"d24761d9.77ff8",
      "type":"influxdb out",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "influxdb":"506ad1a9.81606",
      "name":"Conso HC Wh year",
      "measurement":"Wh",
      "precision":"",
      "retentionPolicy":"",
      "x":1490,
      "y":540,
      "wires":[
         
      ]
   },
   {
      "id":"7430127e.aa49bc",
      "type":"influxdb out",
      "z":"eb54216.5ae55e",
      "g":"a80f53aa.c1475",
      "influxdb":"506ad1a9.81606",
      "name":"Conso HC Wh month",
      "measurement":"Wh",
      "precision":"",
      "retentionPolicy":"",
      "database":"",
      "retentionPolicyV18Flux":"",
      "org":"",
      "bucket":"",
      "x":1500,
      "y":500,
      "wires":[
         
      ]
   },
   {
      "id":"506ad1a9.81606",
      "type":"influxdb",
      "hostname":"192.168.1.10",
      "port":"8086",
      "protocol":"http",
      "database":"edf",
      "name":"EDF",
      "usetls":false,
      "tls":"",
      "influxdbVersion":"1.x"
   }
]
