contrat_hp_hc/monophasé/flow2_part3.json
[
   {
      "id":"52af9a7e.acf0d4",
      "type":"group",
      "z":"659b0a60.7f2d34",
      "name":"Set l'index de chaque période à l'index courant au début de période",
      "style":{
         "label":true
      },
      "nodes":[
         "5d6e72e7.f2d9cc",
         "3b490e69.d678f2",
         "beef4fb1.d110f",
         "f88982fa.667a3",
         "67a64e44.1999b",
         "f39a26d9.77b1a8",
         "532bd4fb.8b942c",
         "265fccb3.e6e554",
         "454d6f86.95597",
         "a5ae5b03.95d708",
         "8f5da6f1.0c34a8",
         "ef78fd8b.26b14"
      ],
      "x":34,
      "y":539,
      "w":852,
      "h":422
   },
   {
      "id":"5d6e72e7.f2d9cc",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"52af9a7e.acf0d4",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_total_wh_start_day",
            "pt":"flow",
            "to":"index_total_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":700,
      "y":600,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"3b490e69.d678f2",
      "type":"cronplus",
      "z":"659b0a60.7f2d34",
      "g":"52af9a7e.acf0d4",
      "name":"start periods",
      "outputField":"payload",
      "timeZone":"",
      "persistDynamic":false,
      "commandResponseMsgOutput":"output2",
      "outputs":2,
      "options":[
         {
            "name":"day",
            "topic":"day",
            "payloadType":"default",
            "payload":"",
            "expressionType":"cron",
            "expression":"0 0 0 * * ? *",
            "location":"",
            "offset":"0",
            "solarType":"all",
            "solarEvents":"sunrise,sunset"
         },
         {
            "name":"month",
            "topic":"month",
            "payloadType":"default",
            "payload":"",
            "expressionType":"cron",
            "expression":"0 0 0 1 * ? *",
            "location":"",
            "offset":"0",
            "solarType":"all",
            "solarEvents":"sunrise,sunset"
         },
         {
            "name":"year",
            "topic":"year",
            "payloadType":"default",
            "payload":"",
            "expressionType":"cron",
            "expression":"0 0 0 1 1 ? *",
            "location":"",
            "offset":"0",
            "solarType":"all",
            "solarEvents":"sunrise,sunset"
         }
      ],
      "x":150,
      "y":640,
      "wires":[
         [
            "67a64e44.1999b"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"beef4fb1.d110f",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"52af9a7e.acf0d4",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_total_wh_start_month",
            "pt":"flow",
            "to":"index_total_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":710,
      "y":640,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"f88982fa.667a3",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"52af9a7e.acf0d4",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_total_wh_start_year",
            "pt":"flow",
            "to":"index_total_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":700,
      "y":680,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"67a64e44.1999b",
      "type":"switch",
      "z":"659b0a60.7f2d34",
      "g":"52af9a7e.acf0d4",
      "name":"period select",
      "property":"topic",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"day",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"month",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"year",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":3,
      "x":390,
      "y":640,
      "wires":[
         [
            "5d6e72e7.f2d9cc",
            "532bd4fb.8b942c",
            "ef78fd8b.26b14"
         ],
         [
            "beef4fb1.d110f",
            "265fccb3.e6e554",
            "8f5da6f1.0c34a8"
         ],
         [
            "f88982fa.667a3",
            "454d6f86.95597",
            "a5ae5b03.95d708"
         ]
      ]
   },
   {
      "id":"f39a26d9.77b1a8",
      "type":"inject",
      "z":"659b0a60.7f2d34",
      "g":"52af9a7e.acf0d4",
      "name":"Manual init >> DO NOT PRESS UNTIL REALLY NEEDED >>",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":300,
      "y":580,
      "wires":[
         [
            "5d6e72e7.f2d9cc",
            "beef4fb1.d110f",
            "f88982fa.667a3",
            "532bd4fb.8b942c",
            "265fccb3.e6e554",
            "454d6f86.95597",
            "ef78fd8b.26b14",
            "8f5da6f1.0c34a8",
            "a5ae5b03.95d708"
         ]
      ]
   },
   {
      "id":"532bd4fb.8b942c",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"52af9a7e.acf0d4",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_hp_wh_start_day",
            "pt":"flow",
            "to":"index_hp_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":690,
      "y":720,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"265fccb3.e6e554",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"52af9a7e.acf0d4",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_hp_wh_start_month",
            "pt":"flow",
            "to":"index_hp_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":700,
      "y":760,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"454d6f86.95597",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"52af9a7e.acf0d4",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_hp_wh_start_year",
            "pt":"flow",
            "to":"index_hp_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":690,
      "y":800,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"a5ae5b03.95d708",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"52af9a7e.acf0d4",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_hc_wh_start_year",
            "pt":"flow",
            "to":"index_hc_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":690,
      "y":920,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"8f5da6f1.0c34a8",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"52af9a7e.acf0d4",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_hc_wh_start_month",
            "pt":"flow",
            "to":"index_hc_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":700,
      "y":880,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"ef78fd8b.26b14",
      "type":"change",
      "z":"659b0a60.7f2d34",
      "g":"52af9a7e.acf0d4",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"index_hc_wh_start_day",
            "pt":"flow",
            "to":"index_hc_wh",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":690,
      "y":840,
      "wires":[
         [
            
         ]
      ]
   }
]
